html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  background-color: #e2e2e2;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

main {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
}

.main figure {
  grid-column: 2;
  grid-row: 2;
  z-index: 1;
}

header {
  display: contents;
  font-family: "Patua One", sans-serif;
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1rem;
}

img {
  display: block;
  width: 100%;
}

h1, h2, p {
  color: #000;
}

ul, a {
  color: #3783a3;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  padding: 1rem;
}

@media only screen and (min-width: 38em) {

  figure {
    display: flex;
    flex-wrap: wrap;
  }

}
