html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  background-color: #e2e2e2;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

div {
  margin: 0;
  display: grid;
  grid-template-areas:
    "masthead masthead"
    "main";
}

main {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
}

.main article {
  grid-column: 2;
  grid-row: 2;
  z-index: 1;
}

header {
  display: contents;
  font-family: "Patua One", sans-serif;
}

.banner {
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1rem;
}

.banner img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

img {
  display: block;
  width: 100%;
  align-items: center;
}

i {
  display: flex;
  flex-wrap: wrap;
}

.main-title {
  display: inline-block;
}

h1 {
  display: flex;
  flex-wrap: wrap;
  padding: .5em 1em .6em;
}

h1, h2, p {
  color: #000;
  font-size: 1rem;
}

h2, p {
  text-align: left;
}

h1, body {
  text-align: center;
}

.ja-1, .ja-3 {
  text-align: center;
  font-size: 1.5rem;
}

.ja-2 {
  text-align: center;
  font-size: 2rem;
}

section {
  padding: 1rem;
}

.text-a {
  font-size: 1rem;
}

ul, a {
  color: #3783a3;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 14rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.125rem;
  margin: 0;
}

li {
  display: inline-block;
  padding: 1rem;
}

.btn {
  color: #3783a3;
  background-color: #e2e2e2;
  border-color: #3783a3;
  text-decoration: none;
  border-width: .2rem;
  border-radius: .3rem;
}

footer {
  font-size: 1rem;
}

@media only screen and (min-width: 38em) {

  figure {
    display: flex;
    flex-wrap: wrap;
  }

  ul {
    position: absolute;
    display: inline-flex;
  }

  img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .main-title {
    display: table;
  }

}
